.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.prev-card {
  padding: 5px 4px 0px 4px;
}
.prev-title {
  font-size: 14px;
  margin-bottom: 6px !important;
}
.prev-site {
  font-size: 12px;
  margin-bottom: 6px !important;
}
.prev-image {
  width: calc(100% + 8px);
  margin: 0 -4px 0px -4px;
}