<mat-sidenav-container cdkDropListGroup>
  <mat-sidenav #sidenav mode="side" fixedInViewport opened disableClose
    ><app-sidebar></app-sidebar
  ></mat-sidenav>
  <mat-sidenav-content>
    <mat-slider
      [max]="pageManagerService.pagePrevMax"
      [min]="pageManagerService.pagePrevMin"
      [step]="pageManagerService.pagePrevStep"
      [(ngModel)]="pageManagerService.pagePrevWidth"
      (input)="pageManagerService.updatePageWidth($event)"
    >
    </mat-slider>
    <mat-slide-toggle [(ngModel)]="pageManagerService.pagePrevCollapse">Collapse</mat-slide-toggle>
    <div
      class="flex flex-wrap justify-content-center"
      cdkDropList
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop()"
    >
      <app-page-prev
        *ngFor="let tabElement of pageManagerService.tabElements"
        [tabData]="tabElement"
        [collapse]="collapse"
        (cdkDragStarted)="onDragStart()"
        cdkDrag
      >
        <app-drag-prev *cdkDragPreview></app-drag-prev>
        <div *cdkDragPlaceholder></div>
      </app-page-prev>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
