<mat-sidenav-container cdkDropListGroup>
  <mat-sidenav #sidenav mode="side" fixedInViewport opened disableClose
    ><app-sidebar></app-sidebar
  ></mat-sidenav>
  <mat-sidenav-content>
    <app-search class="flex justify-content-center"></app-search>
    <div class="flex flex-wrap justify-content-center" cdkDropList cdkDropListSortingDisabled>
      <app-page-prev
        *ngFor="let tabElement of pageView()"
        [tabData]="tabElement"
        [collapse]="pageManagerService.pagePrevCollapse"
        (cdkDragStarted)="onDragStart($event)"
        (cdkDragReleased)="release()"
        id="{{ tabElement.id }}"
        cdkDrag
      >
        <app-drag-prev *cdkDragPreview></app-drag-prev>
        <div *cdkDragPlaceholder></div>
      </app-page-prev>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
