<div class="flex-col header-space">
  <div class="flex space-around">
    <div>
      <button mat-raised-button (click)="selectAll()">Select all</button>
    </div>
    <div>
      <button mat-raised-button (click)="deselectAll()">Deselect all</button>
    </div>
  </div>
  <div class="flex space-around align-items-center">
    <mat-slider
      [max]="pageManagerService.pagePrevMax"
      [min]="pageManagerService.pagePrevMin"
      [step]="pageManagerService.pagePrevStep"
      [(ngModel)]="pageManagerService.pagePrevWidth"
      (input)="pageManagerService.updatePageWidth($event)"
    >
    </mat-slider>
    <mat-slide-toggle [(ngModel)]="pageManagerService.pagePrevCollapse">Collapse</mat-slide-toggle>
  </div>
  <div class="flex space-around align-items-center">
    <mat-button-toggle-group [(ngModel)]="pageManagerService.dragMode">
      <mat-button-toggle value="move">Move</mat-button-toggle>
      <mat-button-toggle value="copy">Copy</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div
    class="flex space-around pad-buttons"
    *ngIf="pageManagerService.displayPageElements.areAnySelected()"
  >
    <div>
      <button mat-raised-button (click)="removeAll()">Remove all</button>
    </div>
    <div>
      <button mat-raised-button (click)="openAll()">Open all</button>
    </div>
  </div>
  <mat-divider class="divider-margin"></mat-divider>
  <app-root-button
    [buttonData]="sidebarManagerService.windowRootButton"
    class="flex"
  ></app-root-button>
  <app-data-source-button
    *ngFor="let button of sidebarManagerService.windowSidebarButtons"
    [buttonData]="button"
    class="flex"
  ></app-data-source-button>
  <app-new-button
    [buttonData]="sidebarManagerService.newWindowButton"
    class="flex"
  ></app-new-button>
  <app-root-button
    [buttonData]="sidebarManagerService.savedRootButton"
    class="flex"
  ></app-root-button>
  <app-data-source-button
    *ngFor="let button of sidebarManagerService.savedSidebarButtons"
    [buttonData]="button"
    class="flex"
  ></app-data-source-button>
  <app-new-button [buttonData]="sidebarManagerService.newSavedButton" class="flex"></app-new-button>
  <mat-divider class="divider-margin"></mat-divider>
  <div class="flex space-between align-items-center m-8">
    <div>
      <button mat-raised-button (click)="showHotkeyHelp()">Hotkeys</button>
    </div>
    <mat-slide-toggle [(ngModel)]="pageManagerService.updateSettings" labelPosition="before"
      >Update settings</mat-slide-toggle
    >
  </div>
  <div class="flex space-between align-items-center m-8">
    <div>
      <button mat-raised-button (click)="openHelp()">Help</button>
    </div>
    <mat-slide-toggle [(ngModel)]="pageManagerService.darkMode" labelPosition="before"
      >Dark Mode</mat-slide-toggle
    >
  </div>
</div>
