<button
  cdkDropList
  *ngIf="!isHidden()"
  (cdkDropListDropped)="drop($event)"
  id="{{ buttonData.id }}"
  mat-stroked-button
  class="page-category child"
  (click)="onClick($event)"
  [ngClass]="{ selected: buttonData.isSelected }"
>
  <div class="flex align-items-center">
    <div [ngClass]="{ 'accent-contrast': isActive }">
      {{ buttonData.name }}
    </div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="menu"
      (click)="$event.stopPropagation()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openRenameDialog()">
        <span>Rename</span>
      </button>
      <button mat-menu-item (click)="delete()">
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</button>
