.favicon {
  background-size: cover;
  background-color: rgb(219, 219, 219);
}

.prev-header {
  padding: 5px 4px 0px 4px;
}
.prev-title, .prev-site {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 6px !important;
  word-break: break-word;
}
.prev-title {
  font-size: 14px;
  margin-bottom: 6px !important;
}
.prev-site {
  font-size: 10px;
  word-break: break-all;
}
.prev-close {
  margin-left: auto;
}