<button
  cdkDropList
  *ngIf="!isHidden()"
  (cdkDropListDropped)="drop()"
  id="{{ buttonData.id }}"
  mat-stroked-button
  class="page-category"
  (click)="onClick($event)"
  [ngClass]="{ child: buttonData.parent, selected: buttonData.isSelected }"
>
  <div class="flex align-items-center">
    <button
      mat-icon-button
      *ngIf="!buttonData.parent && buttonData.expanded"
      (click)="toggleExpand($event)"
      class="expand-icon"
    >
      <mat-icon>expand_more</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="!buttonData.parent && !buttonData.expanded"
      (click)="toggleExpand($event)"
      class="expand-icon"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <div>
      {{ buttonData.label }}
    </div>
  </div>
</button>
