.page-category {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 50px;
  flex-grow: 1;
}
.child {
  margin-left: 15px;
}
.expand-icon {
  align-self: flex-start;
}
.menu {
  margin-left: auto;
}