<button
  cdkDropList
  *ngIf="!isHidden()"
  (cdkDropListDropped)="drop()"
  id="{{ buttonData.id }}"
  mat-stroked-button
  class="page-category"
  (click)="onClick($event)"
  [ngClass]="{ child: buttonData.parent, selected: buttonData.isSelected }"
>
  <div class="flex align-items-center">
    <button
      mat-icon-button
      *ngIf="!buttonData.parent && buttonData.expanded"
      (click)="toggleExpand($event)"
      class="expand-icon"
    >
      <mat-icon>expand_more</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="!buttonData.parent && !buttonData.expanded"
      (click)="toggleExpand($event)"
      class="expand-icon"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <mat-icon *ngIf="isAddNew()" class="m-4">add_circle_outline</mat-icon>
    <div>
      {{ buttonData.label }}
    </div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      *ngIf="buttonData.parent && !isAddNew()"
      (click)="$event.stopPropagation()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Rename</span>
      </button>
      <button mat-menu-item (click)="delete()">
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</button>
