.page-category {
  margin-top: 10px;
  margin-left: 5px;
  min-height: 60px;
  flex-grow: 1;
}
.child {
  margin-left: 15px;
}
.expand-icon {
  align-self: flex-start;
}
.selected {
  background-color: rgb(197, 196, 196) !important;
}
.menu {
  margin-left: auto;
}